<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.javatribe.courseSystem"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SDCARD"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="org.javatribe.courseSystem.Activity.admin.AdminMainActivity"></activity>
                    
                                <activity android:name=".Activity.LoginActivity">
            <intent-filter>
         
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CropImageActivity"></activity>
         <activity android:name=".Activity.RegisterActivity"></activity>
          <activity android:name=".Activity.SlidingMenuLeftActivity"/>

    </application>

</manifest>
